/*Global CSS*/
html {
    scroll-behavior: smooth;
}
button {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
a {
    text-decoration: none;
}
/*Shared between Articles*/
#Title-SMI-V {
    font-size: 60px;
}
/*Article Navigator Section*/
.article-body {
    text-align:center;
}
 /*Mental Health Section*/
 #Title-MT {
    font-size: 40px;
}
p span.Body-1 {
    font-size: 45px;
    font-weight: bold;
    margin-right: 2px;
}
p.Body-2-Title {
    font-size:25px;
    font-weight: bold;
}
p.Body-3-Title {
    font-size:25px;
    font-weight: bold;
}

/*Social Media and Devices Section, Secure Boot and Android ROM's*/
.big-letter {
    font-size: 45px;
    font-weight: bold;
    margin-right: 2px;
}
.titles {
    font-size:45px;
    font-weight: bold;
}
.all-list {
    font-size:25px;
    font-weight: light;
}
.Source-Title {
    font-size:25px;
    font-weight:lighter;
}
/*The Honorato Times*/
#Title-THT-time {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif, 'Liberation Serif';
}
#thtext {
    display: none;
}
#Title-THT {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif, 'Liberation Serif';
}
#Title-THT2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif, 'Liberation Serif';
}
.Title-THT3 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif, 'Liberation Serif';
}

#Body1 {
    background-color: #799DA9;
    color: white;
    text-align: center;
    list-style-position: inside;
}
.list-style {
    font-size:25px;
    font-weight: light;
}
.text-link {
    color:white;
    text-decoration: underline;
}
.bold-italic {
    font-weight: bolder;
    font-style: oblique;
}
/*Intramurals 2023*/
#Body2 {
    background-color: darkgoldenrod;
    color: white;
    text-align: center;
    list-style-position: inside;
}
.events-sc-img {
    width: 1080px;
    height: 756px;
}

/*SciHi Navigator*/
.Title-THT2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif, 'Liberation Serif';
}
.text-white {
    color: whitesmoke;
}
/*Family Day 2023*/
#Body3 {
    background-color:#3fa181;
    color: white;
    text-align: center;
    list-style-position: inside;
}
.events-sc-img-2 {
    width: 900px;
    height: 600px;
}

/*9-Lithium Default*/
#Body-lithium {
    background-color: #ba508f;
    color: white;
    text-align: center;
    list-style-position: inside;
}

