.TB1 {
    transition-duration: 0.4s;
    opacity: 0.5;
    padding: 15px 37px;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
