#Title {
    font-size: 40px;
}
p span.Body-1 {
    font-size: 45px;
    font-weight: bold;
    margin-right: 2px;
}
p.Body-2-Title {
    font-size:25px;
    font-weight: bold;
}
p.Body-3-Title {
    font-size:25px;
    font-weight: bold;
}
p.Source-Title {
    font-size:25px;
    font-weight:lighter;
}

